[submodule "src/dlt"]
	path = src/dlt
	url = git@github.com:stark-os/dev_core_dlt
[submodule "src/tab"]
	path = src/tab
	url = git@github.com:stark-os/dev_core_tab
[submodule "src/lst"]
	path = src/lst
	url = git@github.com:stark-os/dev_core_lst
[submodule "src/heap"]
	path = src/heap
	url = git@github.com:stark-os/dev_core_heap
